@{
  Layout = "_Layout";
}
@using System.Security.Claims
<h1><b>My Online Market</b></h1>
<br>
<h2>Authentication with Identity</h2>
<br>
@if (User.Identity.IsAuthenticated)
{
    <h3>Hello @User.Identity.Name!</h3>
    <br>
}
else
{
    <h4>@Html.ActionLink("Register", "Register")</h4>
    <h4>@Html.ActionLink("Log in", "Login")</h4>
}
@if (User.Identity.IsAuthenticated)
{
    <h4>@Html.ActionLink("Market Overview", "Index", "Home")</h4>
}